
.header
  background: black
  width: 100%
  margin-bottom: 16px
  padding: 8px 12px
  border-bottom: 1px solid #948772
  box-shadow: 0 5px 10px rgba(241,194,50, 0.25) 
  &__wrapper
    max-width: 1120px
    width: 100%
    margin: 0 auto
    display: flex
    justify-content: space-between
  &__nav
    color: white
    display: flex
    align-items: center
    gap: 10px
    a
      color: inherit
      text-decoration: none
  h1
    font-family: 'DM Serif Text', serif
    font-size: 18px
    color: #FFECA0
    margin: 0
    text-align: center
    text-shadow: 0 0 5px rgba(241,194,50, 0.5) 