.n-drawer
    max-width: 540px

.n-drawer-body-content-wrapper
  background: #22211e
  color: #ddd

.close-drawer
  position: absolute
  top: 20px
  right: 30px
  width: 32px
  height: 32px
  font-size: 24px
  background: none
  border: none
  color: #ccc
  font-weight: 100
  border-radius: 5px
  &:focus
    outline: none