@use "abstracts/variables" as *

@use "components/naive"
@use "components/header"
@use "components/teams"
@use "components/player"
@use "components/layout"
@use "components/toasts"

*
  box-sizing: border-box
  margin: 0
  padding: 0
  
body
  background: $color-background
  color: white
  font-family: $font-sans
  font-size: 16px
  user-select: none
  margin: 0

.container
  padding: 8px
  width: 100%
  max-width: 640px
  margin: 0 auto

.saved-configurations
  display: grid
  grid-template-columns: 1fr 1fr
  flex-wrap: wrap
  gap: 6px 12px
  padding: 10px
  opacity: 0.5
  &__item
    display: flex
    flex-direction: column
  &__label
    width: min-content
    background: $gold-600
    color: $gold-950
    font-size: 12px
    font-weight: bold
    display: inline-block
    font-family: 'DM Serif Text', serif
    padding: 0 10px 0 10px
    border-top-left-radius: 4px
    border-top-right-radius: 4px
  &__team
    border: 1px solid $gold-600
    padding: 6px
